@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/less/font-awesome';

th:not(.regular-header){
    cursor: pointer;
}

th:hover:not(.regular-header){
    color: orange;
}

.separator-header{
    margin-bottom: 25px;
    margin-top: 15px;
}

.separator{
    margin-bottom: 20px;
}

